# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Breakpoints, Cache, Debug
.breakpoints/
.ccls-cache/
.ccls-cache
.breakpoints
*.dSYM/

# IDE Files
.vscode/
.idea/
